/*

vim-hybrid theme by w0ng (https://github.com/w0ng/vim-hybrid)

*/

pre code {
  background: #1E2029;
}

blockquote > pre code {
  background: #282a36;
}

/*background color*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

/*selection color*/
.hljs::selection,
.hljs span::selection {
  background: #44475a;
}

.hljs::-moz-selection,
.hljs span::-moz-selection {
  background: #44475a;
}

/*foreground color*/
.hljs {
  color: #f8f8f2;
}

/*color: fg_yellow*/
.hljs-title,
.hljs-name {
  color: #ff79c6;
}

/*color: fg_comment*/
.hljs-comment,
.hljs-meta,
.hljs-meta .hljs-keyword {
  color: #707880;
}

/*color: fg_red*/
.hljs-deletion,
.hljs-link {
 color: #ff5555
}

/*color: fg_green*/
.hljs-string,
.hljs-doctag,
.hljs-addition,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #50fa7b;
}

/*color: fg_purple*/
.hljs-attribute,
.hljs-literal,
.hljs-number,
.hljs-code,
.hljs-selector-id {
 color: #bd93f9;
}
.hljs-number {
  font-weight: bold;
}

/*color: fg_blue*/
.hljs-keyword,
.hljs-selector-tag,
.hljs-bullet,
.hljs-tag {
 color: #61bfff;
}

/*color: fg_aqua*/
.hljs-subst,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #0189cc;
}

/*color: fg_orange*/
.hljs-type,
.hljs-symbol,
.hljs-built_in,
.hljs-builtin-name,
.hljs-quote,
.hljs-section,
.hljs-selector-class {
  color: #ffb86c;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
