// blockquotes.scss

// Some nested elements (like code blocks, blockqutoes, and asides) blend into
// the current blockquote. This helps them stand out. I don't repeat this for
// furthern estings because that should rarely happen.
blockquote, aside.quote > .title, aside.quote > blockquote {
    border-color: var(--quote-border);
    background-color: var(--quote-bg);
    > blockquote, > aside.quote > .title, > aside.quote > blockquote {
        border-color: var(--quote-border-2);
        background-color: var(--quote-bg-2);
        > blockquote, > aside.quote > .title, > aside.quote > blockquote {
            border-color: var(--quote-border);
            background-color: var(--quote-bg);
        }
    }
}

aside.onebox { border-color: var(--secondary); }

// Distinguish quotations from standard blockquotes.
aside.quote {
    // Eliminate excess padding at start of blockquotes
    blockquote :first-child { margin-top: 0; }
}
