// Hide subcategories in the hamburger menu
.category-links .category-link.subcategory { display: none; }

// More contrast and negative space for sub-category boxes
.category-boxes, .category-boxes-with-topics {
    .category-box-inner {
        background-color: var(--category-box-bg);
    }
    .description {
        margin-top: 10px;
        color: var(--primary-high);
    }
}

.subcategories {
    padding-top: 4px;
}


tr .subcategories {
    font-size: 125%;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    .subcategory {
        font-weight: bold;
        margin-bottom: 0.4em;
        width: 11em;
        .category-badge-icon { margin-right: 0.275em; }
    }
}

.category .category-description {
    line-height: 1.5;
}

.category-list {
    .featured-topic {
        margin-top: 8px;
    }
    tbody .latest {
        padding-bottom: 16px;
    }
}
