// categories.scss
//
// Concerned with category listings (the front page, primarily).

// Hide noisy subcategories in the hamburger menu.
.category-links .category-link.subcategory { display: none; }

// Better contrast and more readable text in category "boxes"
.category-boxes, .category-boxes-with-topics {
    .category-box-inner {
        background-color: var(--category-box-bg);
    }
    .description {
        color: var(--primary-high);
    }
}

.category-list {
    .featured-topic {
        margin-top: 8px;
    }
    tbody .latest {
        padding-bottom: 16px;
    }
    .subcategories {
        .badge-notification {
            padding-left: 0;
        }
    }

}
