// categories.scss
//
// Concerned with category listings (the front page, primarily).

// Hide noisy subcategories in the hamburger menu.
.category-links .category-link.subcategory { display: none; }

// Better contrast and more readable text in category "boxes"
.category-boxes, .category-boxes-with-topics {
    .category-box-inner {
        background-color: var(--category-box-bg);
    }
    .description {
        color: var(--primary-high);
    }
}

tr .subcategories {
    font-size: 100%;
    .subcategory {
        margin-right: 0.95em;
    }
}

.category-list tbody > tr[data-category-id="5"] .subcategories {
    font-size: 120%;
    .subcategory {
        width: 13em;
        padding-bottom: 0.25em;
        margin-right: 0;
        .category-badge-icon { margin-right: 0.275em; }
    }
}

.category .category-description {
    line-height: 1.5;
}

.category-list {
    .featured-topic {
        margin-top: 8px;
    }
    tbody .latest {
        padding-bottom: 16px;
    }
}
