// code.scss

code {
    padding: 3px 2px 0;

    &.hljs {
        color: var(--code-inline-fg) !important;
        // Don't set background here, it's overridden by hljs and should be
        // corrected there.
    }
    &:not(.hljs) {
        color: var(--code-inline-fg) !important;
        padding: 2px 4px 0;
        background-color: var(--code-inline-bg) !important;
    }
}
.copy-codeblocks code {
    font-size: 90%;
    padding: 9px;
    margin-bottom: 2px;
    border-left: 4px solid var(--code-border);
    background-color: var(--code-bg) !important;
    blockquote & {
        border-left: 4px solid var(--code-border);
        background-color: var(--code-inline-bg) !important;
    }
}

// Distinguish [dump]...[/dump] codeblocks from regular code blocks, so mods
// know when to fix that.
pre.dump {
    code {
        border-left: 4px solid var(--quote-border-2);
        font-size: 85%;
    }

    &:hover {
        position: relative;
        &:before {
            content: 'text dump';
            position: absolute;
            z-index: 9999;
            bottom: 1px;
            right: 0;
            font-size: 10px;
            background-color: var(--code-bg);
            color: var(--code-inline-fg);
            font-weight: bold;
            padding: 3px 4px 0px;
            border-radius: 2px;
        }
    }
}
