// code.scss

code {
    padding: 3px 3px 0;

    &.hljs {
        color: var(--code-inline-fg) !important;
        // Don't set background here, it's overridden by hljs and should be
        // corrected there.
    }
    &:not(.hljs) {
        color: var(--code-inline-fg) !important;
        padding: 2px 4px 0;
        background-color: var(--code-inline-bg) !important;
    }
}
.copy-codeblocks code {
    padding: 9px;
    margin-bottom: 2px;
    border-left: 4px solid var(--code-border);
    background-color: var(--code-bg) !important;
}
blockquote .copy-codeblocks code {
    border-left: 4px solid var(--code-border);
    background-color: var(--code-inline-bg) !important;
}
