// links.scss

// More readable in-post links
.cooked, .d-editor-preview {
    p, li {
        a:not(.mention):not(.mention-group):not(.hashtag) {
            padding: 0 2px;
            color: var(--link-fg);
            background-color: var(--link-bg);
            border-bottom: 1px solid var(--link-underline);
            &:hover {
                background-color: var(--link-bg-hover);
                border-bottom: 1px solid var(--link-underline-hover);
            }
            .badge.badge-notification.clicks {
                background-color: var(--link-underline);
                color: var(--tertiary);
            }
            &.d-toc-anchor-link, &.anchor {
                background-color: transparent;
                border-bottom: 0;
            }
            &.hashtag {
                color: var(--link-fg);
                span { text-decoration: none; }
            }
        }
    }
}
