.d-header {
    .header-search-enabled.align-right .contents .search-header {
        // margin: 0;
    }
    .search-header {
        margin-top: 12px !important;
    }
    .search-menu {
        .searching {
            top: 0.5em;
        }
        .search-input, .search-icon {
            border: 0;
        }
        .search-input {
            input {
            }
        }
    }
}

.anon .d-header {
    .sign-up-button {
        margin-left: 0.6em;
    }
}
