// topic-list.scss
//
// This affects all topic listing pages, such as
// https://discourse.doomemacs.org/c/dev

// Variables
// *------------------------------------------------*
// $color-slate: #4d4d4d;
// $color-gray: #808080;

$margin-6: 6px;

// Topic list
// *------------------------------------------------*
.topic-list {
    margin-top: 6px;
    td {
        padding-bottom: 6px;
        font-size: 0.8em;
    }
    .creator {
        > span, > a {
            color: var(--primary-medium);
        }
    }
    .editor a {
        color: var(--primary-very-high);
    }
    td:first-of-type {
        padding: 12px 0 12px 8px;
    }
    td.star {
        width: 40px;
    }
    td.last-post, th.activity {
        width: 135px;
        text-align: right;
        .relative-date {
            // color: $color-slate;
            color: var(--primary-medium);
        }
    }
    .creator {
        margin-top: 3px;
    }
    .creator, .editor {
        font-size: 13px;
        display: block;
    }
    .topic-list-item .discourse-tags {
        margin-left: $margin-6;
    }
    button.bulk-select {
        padding: 5px;
    }
    .creator-username {
        margin-right: $margin-6;
    }
    .creator-avatar {
        float: left;
        margin-right: 10px;
        margin-top: 0px;
    }
    .poster-avatar {
        float: right;
        margin-top: 2px;
    }
    .poster-info {
        width: 70%;
        float: left;
        text-align: right;
    }
    .badge-wrapper, .topic-list-item .discourse-tags {
        font-size: var(--font-0);
    }
    .badge-wrapper {
        background-color: var(--header_background);
        padding: 0 0.35em;
        &.bullet {
            margin-right: 4px;
        }
    }

    .creator .views {
        margin-right: 5px;
    }
    .reply-comment + .likes {
        margin-left: 5px;
    }
    a.likes:hover {
        color: var(--love);
    }
    .date {
        margin-right: 6px;
    }

    .topic-excerpt {
        clear: both;
        padding-left: 58px;
        // Hide redundant "read more" buttons (the whole post listing is a
        // link), and overly busy emoji in topic preview excerpts.
        .topic-excerpt-more, .emoji {
            display: none;
        }
    }

    .topic-list-body {
        tr {
            transition: opacity 0.12s ease-in-out;
            &:hover {
                opacity: 1.0 !important;
            }
            .author {
                text-align: center;
            }
            &.pinned {
                background-color: var(--topic-pinned-bg);
                border-bottom-color: var(--topic-pinned-border);
                .title { font-weight: bold; }
            }

            &.tag-help-wanted {
                background-color: var(--topic-helpwanted-bg);
                // .topic-list-data:first-of-type {
                //     border-left: 4px solid var(--love);
                //     padding-left: 8px;
                // }
            }
            &.archived, &.tag-obsolete, &.tag-stale, &.tag-duplicate, &.tag-invalid {
                opacity: 0.4;
                filter: grayscale(0.5);
                &:hover {
                    filter: grayscale(0);
                }
                .title { font-weight: normal; }
            }
        }
    }

}

.topic-list-header {
    background-color: var(--header_background);
}
@media screen and (min-width: 767px) {
    footer.topic-list-bottom {
        .footer-message {
            padding: 0.85em 0.8em 0.45em;
            background-color: var(--header_background);
        }
    }
}

.creator-avatar, .poster-avatar {
    position: relative;
    a {
        // We give avatars a colored "fold" on the corner of their topic-list
        // avatars. This is so I can quickly identify special groups
        // (particularly regulars and sponsors), whom I owe special treatment,
        // as per their sponsorship rewards.
        &.group-maintainer, &.group-headhoncho, &.group-moderators, &.group-regular, &.group-sponsor {
            img.avatar {
                border-radius: 5px 5px 5px 0;
            }
            &:after, &:before {
                border-left:  4px solid transparent;
                border-top:    4px solid transparent;
                border-right:   4px solid var(--header_background);
                border-bottom: 4px solid var(--header_background);
                width: 0%;
                height: 0%;
                content: "";
                position: absolute;
                right: 1px;
                bottom: 1px;
            }
            &:before {
                right: 0;
                border-width: 6px;
            }
        }

        @mixin flairColor($color) {
            &:after {
                border-right-color: $color;
                border-bottom-color: $color;
            }
        }
        &.group-maintainer { @include flairColor(#a9a1e1); }
        &.group-headhoncho { @include flairColor(#ff6c6b); }
        &.group-moderators { @include flairColor(#c678dd); }
        &.group-regular    { @include flairColor(#51afef); }
        &.group-sponsor    { @include flairColor(#ECBE7B); }
    }
}
