// topic-list-sidebar.scss
//
// This customizes the sidebar provided by the discourse-category-sidebars
// plugin. See https://github.com/hlissner/discourse-category-sidebars

body.custom-sidebar {
    #list-area .show-more.has-topics .alert {
        width: 100%;
        top: -2px;
    }

    .category-sidebar {
        // Fix sidebar being pushed down when there are no drafts
        position: static !important;
        // Align top of sidebar with top of topic table header.
        margin-top: -16px !important;

        // Ensure all top-level elements in sidebar take up all available width.
        > .ember-view { width: 100%; }

        .sticky-sidebar .cooked {
            // Sidebars don't have as much real estate to work with, so consume
            // a little less of it.
            font-size: 85%;
            line-height: 1.475;

            // HACK Images are oversized in the buffer due to upstream
            //   stylesheets (in discourse-category-sidebars). This shrinks them
            //   back to sane sizes.
            p, li {
                img, video {
                    width: auto !important;
                }
                img.emoji {
                    width: 17px !important;
                    vertical-align: -0.325em;
                }
            }

            > blockquote {
                // Hide the category "description", which will (by convention)
                // by in the first blockquote of the post.
                &:first-child {
                    display: none;
                }

                // Make lists take up less space near headings
                h1, h2, h3, h4, h5 {
                    margin-bottom: 0.25em !important;
                    + ul, + ol {
                        margin-top: -0.125em !important;
                    }
                }

                // Less pronounced indentation on lists.
                > ul, > ol {
                    padding-left: 0 !important;
                    margin-left: 1em;
                    ul, ol { padding-left: 1em !important; }
                }
                > ol {
                    padding-left: 0.125em !important;
                }

                &.notice, .notice {
                    background-color: var(--sidebar-tip-bg);
                    border-left-width: 40px;
                    border-left-color: transparent;
                    .notice-icon {
                        width: 30px !important;
                        height: 30px !important;
                        top: calc(50% - 15px);
                        left: -34px;
                    }
                }
                &:not(.notice) {
                    background-color: var(--header_background);
                    border: none;
                }
            }
        }
    }
}
