// Highlight usernames based on their primary group membership, so they stand
// out and are easier to identify.
span.username {
    a { font-weight: bolder; }
    &.headhoncho  a { color: #ff6c6b !important; }
    &.regular     a { color: #51afef; }
    &.moderator   a { color: #c678dd; }
    &.sponsor     a { color: #ECBE7B; }
    &.maintainer  a { color: #a9a1e1; }
}

a.mention {
    &[href="/u/hlissner"] { color: #ff6c6b; }
}
a.mention-group {
    &[href="/groups/moderators"] { color: #c678dd !important; }
}

// Hide the number of edits by default (reveal it on hover though); we have a
// lot of wikis, these'll get into the thousands before long.
.post-info.edits {
    .d-button-label {
        opacity: 0.0;
        transition: opacity 0.3s ease;
    }
    &:hover .d-button-label { opacity: 1.0; }
}

// Distinguishes the tags from the category(ies) more, by adding a divider and
// more spacing in between.
.title-wrapper {
    .discourse-tags {
        padding-left: 0.9em;
        border-left: 1px solid var(--primary-low);
        @include breakpoint(mobile-extra-large) {
            padding-left: 0;
            border-left: 0;
        }
        .discourse-tag {
            padding-right: 0.5em
        }
    }
}

// More visible timers
.topic-timer-info {
    padding: 0;
}
.topic-timer-heading {
    border-bottom: 1px solid var(--primary-low);
    padding: 10px 0 9px;
}

// Ensure clear borders on notices in between posts or notifications of
// moderator action (e.g. closing/unlisting thread).
.small-action, .post-notice {
    border-collapse: collapse;
}
.small-action {
    border-bottom: 1px solid var(--primary-low);
    + .topic-post .post-notice {
        border-top: 0;
    }
}

// Notices blend into the background and become harder to notice, so undo that
// and make the icon a louder color (for new notices, not old).
.post-notice {
    background-color: var(--header_background);
    svg.d-icon-user-shield {
        color: var(--highlight);
    }
}

// More prominent "Solved by X in post #N" notice
.accepted-answer {
    svg.accepted {
        padding-right: 0.22em;
        font-size: 160%;
        margin-top: -0.1em;
        vertical-align: middle;
    }
    div.title {
        font-size: 120%;
        font-weight: bold;
        padding: 0.8em 0.6em !important;
    }
    .quote-toggle { display: none; }
    blockquote { display: none; }
}
