// // user-cards.scss

// To match the gap between username and title in user cards.
.iconic-user-fields {
    padding-top: 0.375em;
}

// Fix the user card's background from having the same background as #main.
.user-card, .group-card {
    .card-content { background: darken($secondary, 6%); }
}

#user-card {
    .first-row .user-card-avatar {
        // Normally, the avatar hangs off the top edge of the user card. This
        // causes the badge to detach from it when the user's basic info is too
        // long (e.g. they've filled out their social links).
        margin-top: -42px;
    }

    .avatar-flair {
        bottom: -8px !important;
    }

    .username, h2 { float: left; margin-right: 1.5em; }
    .username + h2 { clear: right; }
    .iconic-user-fields {
        float: left;
        clear: both;
    }

//     .card-content {
//         padding-top: 31px;
//     }
//     .usercard-controls {
//         margin-top: -19px;
//     }
//     &.no-bg .card-content {
//         padding-top: 12px;
//         margin-top: 19px;
//     }
//     span.ember-view {
//         position: relative !important;
//     }
}
