// // user-cards.scss

// Fix the user card's background from having the same background as #main.
.user-card, .group-card {
    .card-content { background: var(--header_background); }
}

#user-card {
    .first-row .user-card-avatar {
        // Normally, the avatar hangs off the top edge of the user card. This
        // causes the badge to detach from it when the user's basic info is too
        // long (e.g. they've filled out their social links).
        margin-top: -42px;
        .avatar {
            border: none;
        }
    }

    .avatar-flair {
        right: -4px !important;
        bottom: -4px !important;
        width: 30px;
        height: 30px;
        border-width: 4px;
        font-size: 85%;
        &.rounded {
            border-radius: 24px 24px 0 24px;
        }
    }

    .card-row .config-link {
        .user-field-name { font-weight: bold; }
    }
}

// For hlissner/discourse-social-links-clickable component
.iconic-user-fields {
    .fa {
        text-decoration: underline;
        color: var(--primary);
        &:hover {
            color: var(--primary-high);
        }
    }
}

.user-location-and-website-outlet {
    margin-top: 1px;
    margin-left: 14px;
}
