// user-cards.scss

.iconic-user-fields {
    padding-top: 0.4em;
    a { margin-right: 0.5em; }
    .fa {
        font-size: 1.2em;
        color: var(--quarternary);
    }
    .fa.d-icon.svg-icon.svg-string {
        margin-left: 0px;
    }
}
.primary-textual h3 > .ember-view:not(:first-child) {
    margin-left: 10px;
}

// Fix the user card's background from having the same background as #main.
.user-card, .group-card {
    .card-content { background: darken($secondary, 4%); }
}

#user-card {
    // Normally, the avatar hangs off the top edge of the user card. This causes the
    // badge to detach from it when the user's basic info is too long (e.g. they've
    // filled out their social links).
    .first-row .user-card-avatar { margin-top: -45px; }
    .usercard-controls { margin-top: 0; }
    .card-content { margin-top: 10px; }

    .card-content {
        padding-top: 31px;
    }
    .usercard-controls {
        margin-top: -19px;
    }
    &.no-bg .card-content {
        padding-top: 12px;
        margin-top: 19px;
    }
    span.ember-view {
        position: relative !important;
    }
}
