@mixin tags($names) {
  @each $name in $names {
    .discourse-tag[data-tag-name#{$name}] { @content; }
  }
}

@mixin tag-color($names, $color, $order: 9999) {
    @include tags($names) {
        @if $color {
          color: $color !important;
          &.bullet::before { background-color: $color; }
        }
        .discourse-tags &, .search-category & { order: $order; }
        @content;
    }
}


// Initial order
.discourse-tags a { order: 1; }

.discourse-tag {
    &, &:visited, &:hover {
        color: var(--primary-high);
        &.bullet {
          margin-right: 8px;
          align-items: baseline;
        }
        &.bullet::before {
          background-color: var(--primary-high);
        }
    }
    &.has-icon:before {
      display: none;
    }
}

.discourse-tags, .search-results {
    // Ensures tags can be reordered via CSS
    &, .search-results .topic .search-category {
        // display: flex !important;
        justify-content: flex-start;
        align-items: baseline;
    }
    a.discourse-tag {
        order: 9999;
    }
}

.topic-list, .title-wrapper {
  .tag-icon {
    .d-icon-times-circle,
    .d-icon-rss-square,
    .d-icon-plus-square,
    .d-icon-exclamation-circle,
    .d-icon-clock,
    .d-icon-play-circle {
      margin-right: 1px;
      width: 1.35em;
      font-size: 90%;
      vertical-align: -0.1em;
    }
    .d-icon-play-circle {
      margin-right: 3px;
      font-size: 80%;
      vertical-align: -0.1em;
    }
    .d-icon-plus-square {
      margin-right: 2px;
    }
  }
}

@mixin modtag {
  background-color: var(--header_background);
  padding: 0 0.25em;
  text-transform: uppercase;
  border-radius: 2px;
  &.bullet:before { display: none; }
}

// Version tags
// Announcement tags
@include tag-color(
  ("=community"
   "=doomconf "
   "=emacs"
   "=release"
   "=survey"
   "=twid"
   "=doom-core"
   "=doom-modules"
   "=doom-contrib-modules"
   "=doom-themes"), var(--love), 3);
@include tag-color(("^=news-"), var(--quaternary), 5);
// Topic status tags
@include tag-color(("=solved" "=workaround"), var(--tag-solved), 3);
@include tag-color(("=nofix" "=wontfix" "=unknown"), var(--tag-abort), 3);
@include tag-color(("=waiting" "=todo"), var(--tag-pending), 3);
@include tag-color(("=incomplete"), var(--tag-warn), 3);
@include tag-color(("=help-wanted"), var(--tag-attention), 3);
@include tag-color(("=stale" "=obsolete"), var(--tag-stale), 4);
@include tag-color(("=duplicate" "=invalid"), desaturate($primary-high, 100%), 5);
@include tag-color(("=faq"), var(--tag-attention), 1) {
  @include modtag
};
// Topic type tags
@include tag-color(("=issue" "=project" "=notice" "=request" "=discussion" "=question" "=tip" "=guide"), var(--primary), 5);
// Emacs contexts
@include tag-color(("^=emacs2" "=native-comp" "=pgtk" "=tty" "=gui" "=exwm"), var(--primary-high), 6);
@include tag-color(
    (// Operating systems
     "^=os-"
     // Programming languages
     "=agda" "=cc" "=clojure" "=common-lisp" "=crystal" "=csharp" "=dart"
     "=elixir" "=elm" "=elisp" "=erlang" "=ess" "=faust" "=fsharp" "=fstar"
     "=gdscript" "=go" "=haskell" "=htmlcss" "=hy" "=idris" "=java"
     "=javascript" "=json" "=julia" "=kotlin" "=latex" "=ledger" "=lua"
     "=markdown" "=nim" "=nix" "=ocaml" "=org" "=perl" "=php" "=plantuml"
     "=python" "=racket" "=raku" "=ruby" "=rust" "=scala" "=scheme" "=sh"
     "=swift" "=yaml"
     // Tools
     "=docker" "=org-roam" "=kubernetes" "=reactjs" "=vuejs" "=angularjs"
     "=jupyter" "=lsp" "=eglot"
     ), false, 6);

@include tag-color(("=linked"), var(--primary), 1);

// Make moderation tags very distinct.
@include tag-color(("=priority" "=hot"), var(--danger), 1) {
  @include modtag;
}
@include tag-color(("=todo"), var(--warning), 1) {
  @include modtag;
}
@include tag-color(("=backlog"), var(--tag-attention), 1) {
  @include modtag;
}
@include tag-color(("=deprecated"), var(--primary-low), 1) {
  @include modtag;
}
