/* components/tags/tooltips.scss
 *
 * Yes, adding content via CSS is poor taste, ~~but it's important that tags are
 * clear, and until we self-host discourse, there is no other way.~~
 *
 * TODO Now that we self-host, move this over to a plugin or JS!
 */

// Tooltips for tags
a.hashtag[href*="/tag/"] { z-index: 9999; }
.discourse-tag[data-tag-name], a.hashtag[href*="/tag/"] {
    overflow: visible;
    &:after {
        transition: opacity 0s linear 0.28s;
        opacity: 0;
        content: "";
    }
    &:hover {
        position: relative;
        &.bullet { z-index: 1; }
        &:after {
            display: none;
            text-transform: none;
            opacity: 1;
            position: absolute;
            top: 1.45em;
            left: 0;
            width: 20em;
            white-space: normal;
            padding: 6px 10px;
            border-radius: 2px;
            border: 1px solid var(--primary-low);
            color: var(--primary);
            background-color: var(--tag-tooltip-bg);
            z-index: 10;
            font-weight: normal;
            font-size: 95%;
        }
    }
}


// Announcement Types
@include tag-tooltip("=breaking-change", "an update that requires changes to your config");
@include tag-tooltip("=community",       "applies to doom's community across discourse, discord, reddit, and github");
@include tag-tooltip("=event",           "an event, at a time and a place");
@include tag-tooltip("=status",          "an update about henrik's work schedule");
@include tag-tooltip("=poll",            "a user survey");
@include tag-tooltip("=release",         "an update regarding a doom emacs release");
@include tag-tooltip("^=news-",          "for announcements on a particular topic");

// emacs context
@include tag-tooltip("=daemon",      "only applies to using emacs with the daemon");
@for $i from 26 through 28 {
    @include tag-tooltip("=emacs#{$i}", "only applies to emacs #{$i}");
}
@include tag-tooltip("=exwm",        "applies to exwm users");
@include tag-tooltip("=gui",         "only applies to graphical emacs");
@include tag-tooltip("=native-comp", "only applies to gccemacs (the native-comp branch of emacs)");
@include tag-tooltip("=pgtk",        "only applies to the pgtk fork of emacs");
@include tag-tooltip("=tty",         "only applies to emacs in the terminal");

// topic status
@include tag-tooltip("=duplicate",   "this has already been discussed in another post");
@include tag-tooltip("=help-wanted", "is beyond our expertise or backlogged; prs welcome");
@include tag-tooltip("=incomplete",  "cannot proceed without more information");
@include tag-tooltip("=nofix",       "cannot be addressed");
@include tag-tooltip("=obsolete",    "no longer applies to recent versions of doom emacs");
@include tag-tooltip("=stale",       "no response or context forgotten/abandoned");
@include tag-tooltip("=unknown",     "cannot reproduce the issue; cannot investigate further");
@include tag-tooltip("=wontfix",     "will not be addressed");
@include tag-tooltip("=workaround",  "workarounds exist, but no acceptable solution is known");
@include tag-tooltip("=invalid",     "not applicable; likely a pilot error or misunderstanding");

// topic type
@include tag-tooltip("=discussion",  "todo");
@include tag-tooltip("=enhancement", "todo");
@include tag-tooltip("=faq",         "this has been asked/reported many times");
@include tag-tooltip("=guide",       "todo");
@include tag-tooltip("=issue",       "a problem that needs a solution");
@include tag-tooltip("=notice",      "an fyi for the community/project");
@include tag-tooltip("=question",    "a general question or request for advice");
@include tag-tooltip("=request",     "todo");
@include tag-tooltip("=suggestion",  "an idea to improve doom");

// subjects
@include tag-tooltip("=best-practices", "concerns idiomatic and canonical use of doom");
@include tag-tooltip("=ci-cd", "concerns doom's continuous integration/delivery framework");
@include tag-tooltip("=concepts", "an introduction to or explanation of concepts in emacs or doom");
@include tag-tooltip("=config", "concerns the reconfiguration of doom and its plugins");
@include tag-tooltip("=conventions", "concerns doom's code, documentation, or naming conventions");
@include tag-tooltip("=completion", "concerns code completion");
@include tag-tooltip("=debugging", "concerns the process of debugging code");
@include tag-tooltip("=defaults", "concerns doom's default configuration");
@include tag-tooltip("=docs", "concerns the documentation for doom or one of its modules");
@include tag-tooltip("=doom-cli", "concerns the use of doom's bin/doom script");
@include tag-tooltip("=doom-doctor", "concerns doom's 'doom doctor' command and what it checks");
@include tag-tooltip("=editing", "concerns the process of editing text in a buffer");
@include tag-tooltip("=email", "concerns using emacs as an email client");
@include tag-tooltip("=evil", "concerns the use of vim emulation through evil-mode");
@include tag-tooltip("=helm", "concerns the helm completion framework");
@include tag-tooltip("=i18n", "concerns internationalization of doom (support for more languages)");
@include tag-tooltip("=install", "concerns the first time installation of doom emacs");
@include tag-tooltip("=irc", "concerns using emacs as an irc client");
@include tag-tooltip("=ivy", "concerns the ivy completion framework");
@include tag-tooltip("=keys", "concerns doom's keybinds");
@include tag-tooltip("=linter", "concerns doom's syntax checkers (flycheck)");
@include tag-tooltip("=lookup", "concerns doom's lookup functionality (goto definition/ref, documentation, etc)");
@include tag-tooltip("=magit", "concerns the use or configuration of magit");
@include tag-tooltip("=modules", "concerns a choice of, changes in, or management of doom's modules");
@include tag-tooltip("=navigation", "concerns getting around in doom");
@include tag-tooltip("=noevil", "concerns environments where evil (vim emulation) is disabled");
@include tag-tooltip("=not-doom", "concerns an environment or tool that is unrelated to doom");
@include tag-tooltip("=packages", "concerns managing packages or configuring them");
@include tag-tooltip("=performance", "concerns doom's startup and runtime performance");
@include tag-tooltip("=plugin", "concerns particular third party plugins");
@include tag-tooltip("=projects", "concerns doom's project management system (projectile)");
@include tag-tooltip("=security", "concerns doom's impact on or protection of the user's privacy and security");
@include tag-tooltip("=shell", "concerns the user's shell environment and configuration");
@include tag-tooltip("=snippets", "concerns yasnippet and your snippets library, and management thereof");
@include tag-tooltip("=spellchecker", "concerns doom's spellchecker (either spell-fu or flyspell)");
@include tag-tooltip("=stability", "concerns crashes and freezing while using doom");
@include tag-tooltip("=system", "concerns your operating system or configuration thereof");
@include tag-tooltip("=themes", "concerns themes and faces, including the customization thereof");
@include tag-tooltip("=ui", "concerns the user interface; windows and frames, and the management thereof");
@include tag-tooltip("=ux", "concerns the user's experience");
@include tag-tooltip("=workflow", "concerns the process of using doom and its features");
@include tag-tooltip("=workspaces", "concerns the workspaces feature of doom");

// moderation tags
@include tag-tooltip("=backlog", "cannot be addressed due to time constraints or indecision; prs welcome!");
@include tag-tooltip("=heated", "this thread has gotten heated; keep an eye on it");
@include tag-tooltip("=priority", "needs attention asap");
@include tag-tooltip("=todo", "this topic needs work");

// version tags
@for $i from 2 through 4 {
    @for $j from 0 through 9 {
        @for $k from 0 through 9 {
            @include tag-tooltip("=v#{$i}#{$j}#{$k}", "relevant specifically to doom emacs v#{$i}.#{$j}.#{$k}")
            @include tag-color(("=v#{$i}#{$j}#{$k}"), var(--tag-stale), 10);
        }
    }
}
