/* fixes.scss
 *
 * Hacks and fixes for weird quirks caused by Discourse core styles or interop
 * between plugins/other components.
 */

// Full-width tables make for better visual consistency
.md-table table { width: 100%; }

// DiscoTOC: the ToC adds padding to the top of the post. Remove this!
.d-toc-cooked [data-theme-toc="true"] + p { margin-top: 0; }

// Remove unchecked box next to pinned/unlisted topics (if enabled). If
// it's been pinned or unlisted, the issue should not be considered an unsolved
// problem.
.topic-status[title="This topic is pinned for you; it will display at the top of its category"],
.topic-status[title="This topic is unlisted; it will not be displayed in topic lists, and can only be accessed via a direct link"] {
    & + .topic-status[title="This topic has no solution"] { display: none; }
}

// The solution plugin colors its buttons an ugly, theme-agnostic "green".
svg.d-icon-check-square.accepted {
    color: var(--success);
}
.post-controls .extra-buttons {
    .unaccepted:hover, .accepted, .accepted-text {
        .d-icon, .d-button-label, .accepted-label { color: var(--success); }
    }
    // .double-button:hover button {
    //     color: var(--love) !important;
    // }
    // svg.d-icon-thumbs-up {
    //     position: relative;
    //     top: -2px;
    // }
}

// Header has a drop shadow normally. Looks very weird with our colors, so...
.d-header { box-shadow: none; }

// Get rid of ugly gradients on the admin menu bar.
.admin-controls nav {
    &:before { background: none; }
    &:after  { background: none; }
}

#banner { display: none; }
body.navigation-categories, body.navigation-topics, body.tag-help-wanted {
    #banner { display: block; }
}

// The status icons sometimes wrap when the title is too long or window too
// small. Don't do that!
.topic-statuses {
    white-space: nowrap;
}

.report-an-error-or-misbehavior-in-doom-emacs-menu-link {
    svg { margin-top: -3px; }
}

// More visible pre-header anchor
body {
    .d-editor-preview, .cooked {
        h1,h2,h3,h4,h5,h6 {
            &:hover a.anchor:before {
                content: "#";
                color: var(--primary-medium);
            }
        }
    }
}

// Don't let uses suppress the unformatted code detection warning modal.
label[for=ucd_do-not-show-again] {
    display: none;
}
