/* fixes.scss
 *
 * Hacks and fixes for weird quirks caused by Discourse core styles or interop
 * between plugins/other components.
 */

// Full-width tables make for better visual consistency
.md-table table { width: 100%; }

// Remove unchecked box next to pinned/unlisted topics (if enabled). If it's
// been pinned or unlisted, the issue should not be considered an unsolved
// problem.
.topic-status[title="This topic is pinned for you; it will display at the top of its category"],
.topic-status[title="This topic is unlisted; it will not be displayed in topic lists, and can only be accessed via a direct link"] {
    & + .topic-status[title="This topic has no solution"] { display: none; }
}

// The "Solution" button and icons are an ugly and theme-agnostic green.
// TODO Upstream this to discourse-solved?
svg.d-icon-check-square.accepted {
    color: var(--success);
}
.post-controls .extra-buttons {
    .unaccepted:hover, .accepted, .accepted-text {
        .d-icon, .d-button-label, .accepted-label { color: var(--success); }
    }
}

// The status icons sometimes wrap when the title is too long or window too
// small. Don't do that!
.topic-statuses {
    white-space: nowrap;
}

// Don't let users suppress the unformatted code detection warning modal. They
// should fix the issue, not ignore it.
label[for=ucd_do-not-show-again] {
    display: none !important;
}

// We have a number of custom, user-fields (for social media and opting into
// sponsorship perks). These have no business being part of the sign-up form, so
// hide them!
.create-account .user-fields {
    display: none;
}

// Hide the category bullets. Why not set category style to "none", instead?
// Because when set to "none", we can't change a category's color, which affects
// the category icon provided by our "Category icons" component.
.badge-wrapper.bullet {
    .badge-category-bg, .badge-category-parent-bg { display: none; }
}

// The Category Sidebar component will draw two duplicate sidebars when shared
// drafts are displayed in a category's topic list.
.shared-drafts.topic-list .category-sidebar {
    display: none;
}

// There is too much of a gap between the main container and the top of the
// page/the homepage banner.
#main-outlet {
    padding-top: 1em;
}

// The spacing between the topic-listing and navigational dropdowns is
// inconsistent with other top-level element spacing.
.shared-drafts {
    margin-top: 0em;
}

// Topic listings are 1px too wide at 100%.
.custom-sidebar .contents > .topic-list .topic-list-body {
    width: auto;
}

// Force markdown editor to use monospace fonts.
.d-editor-input {
  font-family: $monospace-font;
}

// The bottom of categories' names is cut off.
.category-list .badge-category .category-name {
    line-height: initial;
}

// Stop footnote buttons from consuming too much vertical space (particularly in
// sidebar posts)
.inline-footnotes a.expand-footnote {
    min-height: auto;
}

// FIXME Gravatars are broken on our instance due to upstream issues (with
//   pkgs.discourse's nginx config), so hide the gravatar option for now.
.avatar-selector .avatar-choice:nth-child(2) {
    display: none;
}

// FIXME Upstream these to doomemacs/discourse-custom-bbcodes
.tab-line {
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    a { border-bottom: 1px solid var(--primary-low) !important; }
    a.selected { border-bottom: 1px solid transparent !important; }
}
.tabs {
    margin-bottom: 1em;
    > .tab  {
        > blockquote, > code, > pre {
            &:only-child { margin: -0.4em -0.8em; }
        }
        > code, > pre {
            .d-editor-preview &:only-child { margin: -5px; }
        }
    }
}
