@import "variables";


// //////////////////////////////////////
body, #banner { background-color: var(--header-bg); }
#main         { background-color: var(--secondary); }
header        { border-bottom: 1px solid var(--secondary); }


// //////////////////////////////////////
@import "components/banner";
@import "components/header";
@import "components/footer";
// @import "components/published";

@import "components/search";
@import "components/categories";
@import "components/topic";
@import "components/topic-list";
@import "components/topic-list-sidebar";
@import "components/user-avatars";
@import "components/user-cards";
@import "components/tags/hide-redundant";
@import "components/tags/styles";

@import "components/blockquotes";
@import "components/code";
@import "components/footnotes";
@import "components/kbd";
@import "components/links";
@import "components/notices";
@import "components/headings";


// Styles for unused components /////////
//@import "components/wizards";


// //////////////////////////////////////
@import "fixes";
html.dark  { @import "dark"; }
html.light { @import "light"; }
