@import "variables";
@import "lib/tags";

// //////////////////////////////////////
body, #banner { background-color: var(--header-bg); }
#main         { background-color: var(--secondary); }
header        { border-bottom: 1px solid var(--secondary); }

// //////////////////////////////////////
@import "components/banner";
@import "components/blockquotes";
@import "components/categories";
@import "components/code";
@import "components/compact-posters";
@import "components/footer";
@import "components/footnotes";
@import "components/header";
@import "components/headings";
@import "components/kbd";
@import "components/links";
@import "components/search";
@import "components/sidebar";
@import "components/topic";
@import "components/topic-list";
@import "components/user-avatars";
@import "components/user-cards";
@import "components/wizards";

@import "components/numbered-headings";
@import "components/tags/hide-redundant";
@import "components/tags/styles";


// //////////////////////////////////////
@import "fixes";
html.dark  { @import "dark"; }
html.light { @import "light"; }
